.ProductDetailContainer {
  max-width: 1030px;
  margin: 0 auto;
  padding: 15px 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
  }
}


.ProductDetailCardContent {
  position: relative;
  display: flex;
  padding: 15px;
  gap: 20px;
  width: 100%;
  font-family: sans-serif;
  background: #f2f2f2;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px #d0d0d0;
}

.ProductDetailCardInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ProductDetailReviews {
  width: 100%;
  display: flex;
  flex-direction: column;

  span {
    display: block;
  }
}

.productRate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productRateIcon {
  text-align: center;
  width: 36px;
  height: 36px;
  background-image: url('../../assets/rateStar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.buttonsBlock {
  width: 100%;
}

.btnToCart,
.btnEdit,
.btnToFavorite,
.btnRemove {
  cursor: pointer;
  width: 30%;
  height: 30px;
  margin-top: 10px;
  background-color: rgb(250, 229, 105);
  border: 0;
  border-radius: 20px;

  &.btnInCart,
  &.btnIsFavorite {
    background-color: rgb(7, 234, 75)
  }

  &.btnOutOfStock {
    background-color: rgb(229, 50, 50)
  }

  &:hover,
  &:focus {
    box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
    transform: translateY(-0.25em);
    transition: 0.25s;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.btnRemove {
  background-color: red;
}